/* CAROUSEL */

.display-2 {
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    text-shadow: 3px 2px 8px black;
    position: absolute;
    right: 15%;
    bottom: 47%;
    left: 15%;
    z-index: 100;
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
    padding-top: .5rem;
    position: absolute;
    text-shadow: 3px 2px 8px black;
    right: 15%;
    bottom: 39%;
    left: 15%;
    z-index: 100;
    color: #fff;
    text-align: center;
}

.youtubeVid {
    color: red;
    position: absolute;
    right: 15%;
    bottom: 27%;
    left: 15%;
    z-index: 100;
    text-align: center;
}

.youtubeVid:hover {
    color: red;
    opacity: 0.7;
}

/* SNIPPET */

.snippetContainer {
    background: rgba(113, 122, 130, 0.301);
}

/* FEATURES */

.underline {
    border-bottom: 4px solid black;
    font-weight: bold;
    text-shadow: 4px 2px 6px grey;
}

.card {
    background: none;
}

.fa-8x:hover {
    color: rgba(173, 19, 19, 0.733);
}

/* CONTACT FORM */

.form-control:focus {
    box-shadow: none;
}

/* ABOUT */

.fa-github {
    color: rgb(19,46,67);
}

.fa-github:hover {
    color: rgba(63, 85, 102, 0.87);
    transform: translateY(1px);
}

.fa-github:active {
    color: rgb(19,46,67);
    transform: translateY(2px);
}

.fa-linkedin {
    color: rgb(1,119,181);
}

.fa-linkedin:hover {
    color: rgb(0, 82, 126);
    transform: translateY(1px);
}

.fa-linkedin:active {
    color: rgb(1,119,181);
    transform: translateY(2px);
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {

    .display-2 {
        font-size: 4rem;
        text-shadow: 3px 2px 8px black;
        position: absolute;
        right: 15%;
        bottom: 50%;
        left: 15%;
        z-index: 100;
        color: #fff;
        text-align: center;
    }

    h2 {
        font-family: 'Crimson Text', serif;
        font-size: 2rem;
        font-weight: 500;
        position: absolute;
        text-shadow: 3px 2px 8px black;
        padding-top: .5rem;
        right: 15%;
        bottom: 36%;
        left: 15%;
        z-index: 100;
        color: #fff;
        text-align: center;
    }

    .youtubeVid {
        color: red;
        position: absolute;
        right: 15%;
        bottom: 24%;
        left: 15%;
        z-index: 100;
        text-align: center;
    }
}

@media (max-width:743px) and (min-width:601px) {
    
    .display-2 {
        font-family: 'Crimson Text', serif;
        font-weight: 700;
        text-shadow: 3px 2px 8px black;
        position: absolute;
        right: 15%;
        bottom: 47%;
        left: 15%;
        z-index: 100;
        color: #fff;
        text-align: center;
    }
    
    h2 {
        font-size: 2.5rem;
        font-family: 'Crimson Text', serif;
        font-weight: 500;
        padding-top: .5rem;
        position: absolute;
        text-shadow: 3px 2px 8px black;
        right: 15%;
        bottom: 26%;
        left: 15%;
        z-index: 100;
        color: #fff;
        text-align: center;
    }
    
    .youtubeVid {
        color: red;
        position: absolute;
        right: 15%;
        bottom: 11%;
        left: 15%;
        z-index: 100;
        text-align: center;
    }

}