.fa-github {
    color: rgb(19,46,67);
}

.fa-github:hover {
    color: rgba(63, 85, 102, 0.87);
    transform: translateY(1px);
}

.fa-github:active {
    color: rgb(19,46,67);
    transform: translateY(2px);
}

.fa-linkedin {
    color: rgb(1,119,181);
}

.fa-linkedin:hover {
    color: rgb(0, 82, 126);
    transform: translateY(1px);
}

.fa-linkedin:active {
    color: rgb(1,119,181);
    transform: translateY(2px);
}